<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="sk.ab.herbs"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="17"/>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application android:label="@string/app_name"
                 android:icon="@drawable/home"
                 android:theme="@style/Theme.Sherlock.Light">
        <activity android:name=".activities.FilterPlants"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.ListPlants"/>
        <activity android:name=".activities.DisplayPlant"
                android:theme="@style/Theme.Sherlock.Light.NoActionBar"/>
    </application>
</manifest>
