<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sk.ab.herbs" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".HerbsApp"
        android:allowBackup="true"
        android:icon="@drawable/home"
        android:label="@string/app_name"
        android:theme="@style/Theme.Application" >

        <!-- <meta-data android:name="com.google.android.gms.analytics.globalConfigResource" -->
        <!-- android:resource="@xml/global_tracker" /> -->

        <activity
            android:name=".activities.FilterPlantsActivity"
            android:configChanges="orientation|screenSize|locale"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/SplashScreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ListPlantsActivity"
            android:configChanges="orientation|screenSize|locale" />
        <activity
            android:name=".activities.DisplayPlantActivity"
            android:configChanges="orientation|screenSize|locale" />
        <activity
            android:name=".activities.UserPreferenceActivity"
            android:configChanges="orientation|screenSize|locale"
            android:label="@string/settings"
            android:theme="@style/Theme.Settings" >
        </activity>
        <activity
            android:name=".activities.LegendActivity"
            android:configChanges="orientation|screenSize|locale"
            android:theme="@style/Theme.Settings" >
        </activity>
        <activity
            android:name=".commons.HtmlActivity"
            android:configChanges="orientation|screenSize|locale"
            android:theme="@style/Theme.Settings" >
        </activity>
        <activity
            android:name=".commons.FullScreenImageActivity"
            android:configChanges="orientation|screenSize" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>