<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="sk.ab.herbs">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application android:label="@string/app_name"
                 android:icon="@drawable/home"
                 android:theme="@style/Theme.Application"
                 android:name=".HerbsApp"
                 android:allowBackup="true">

        <!--<meta-data android:name="com.google.android.gms.analytics.globalConfigResource"-->
                   <!--android:resource="@xml/global_tracker" />-->

        <service android:name=".service.RESTService" />

        <activity android:name=".activities.FilterPlantsActivity"
                  android:label="@string/app_name"
                  android:theme="@style/HerbsActionBarTheme"
                  android:configChanges="orientation|screenSize|locale">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.DisplayPlantActivity"
                  android:theme="@style/HerbsActionBarTheme"
                  android:configChanges="orientation|screenSize|locale"/>
        <activity
                android:name="sk.ab.herbs.activities.UserPreferenceActivity"
                android:theme="@style/Theme.Settings"
                android:label="@string/settings">
        </activity>
    </application>
</manifest>
