<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sk.ab.herbsplus" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <application
        android:name="sk.ab.herbsplus.HerbsApp"
        android:allowBackup="true"
        android:icon="@drawable/home"
        android:label="@string/app_name"
        android:theme="@style/Theme.Application" >

        <!-- [START fcm_default_icon] -->
        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
             See README(https://goo.gl/l4GJaQ) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/home" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/MenuWhite" />
        <!-- [END fcm_default_icon] -->
        <!-- [START fcm_default_channel] -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id"/>
        <!-- [END fcm_default_channel] -->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>

        <activity android:name="sk.ab.herbsplus.activities.SplashPlusActivity"
                  android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.FilterPlantsPlusActivity"
            android:configChanges="orientation|screenSize|locale" />
        <activity
            android:name=".activities.ListPlantsPlusActivity"
            android:configChanges="orientation|screenSize|locale" />
        <activity
            android:name=".activities.DisplayPlantPlusActivity"
            android:configChanges="orientation|screenSize|locale" />
        <activity
            android:name=".activities.UserPreferencePlusActivity"
            android:configChanges="orientation|screenSize|locale"
            android:label="@string/settings"
            android:theme="@style/Theme.Settings" />
        <activity
            android:name="sk.ab.herbsbase.activities.LegendActivity"
            android:configChanges="orientation|screenSize|locale"
            android:theme="@style/Theme.Settings" />
        <activity
            android:name="sk.ab.herbsbase.commons.FullScreenImageActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activities.FeedbackPlusActivity"
            android:configChanges="orientation|screenSize|locale"
            android:theme="@style/Theme.Settings" />
        <activity
            android:name=".activities.NameSearchActivity"
            android:configChanges="orientation|screenSize|locale" />
        <activity
            android:name=".activities.TaxonomyActivity"
            android:configChanges="orientation|screenSize|locale" />
        <activity
            android:name=".activities.ObservationActivity"
            android:configChanges="orientation|screenSize|locale" />
        <activity
            android:name=".activities.ListObservationsActivity"
            android:configChanges="orientation|screenSize|locale" />
        <activity
            android:name=".activities.MapActivity"
            android:configChanges="orientation|screenSize|locale" />
        <activity
            android:name=".activities.SubscriptionActivity"
            android:configChanges="orientation|screenSize|locale" />
        <activity
            android:name=".activities.MyRegionPlusActivity"
            android:configChanges="orientation|screenSize|locale"
            android:theme="@style/Theme.Settings">
            <intent-filter>
                <action android:name="sk.ab.herbs.activities.MyRegionPlusActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name="sk.ab.herbsbase.BaseFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name="sk.ab.herbsbase.BaseFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name=".services.OfflineService"
            android:exported="false"/>
        <service
            android:name=".services.ObservationService"
            android:exported="false"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="sk.ab.herbsplus.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
    </application>

</manifest>