<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sk.ab.herbsplus" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="sk.ab.herbsplus.HerbsApp"
        android:allowBackup="true"
        android:icon="@drawable/home"
        android:label="@string/app_name"
        android:theme="@style/Theme.Application" >

        <!-- <meta-data android:name="com.google.android.gms.analytics.globalConfigResource" -->
        <!-- android:resource="@xml/global_tracker" /> -->

        <activity
            android:name="sk.ab.herbsplus.activities.FilterPlantsPlusActivity"
            android:configChanges="orientation|screenSize|locale"
            android:label="@string/app_name"
            android:theme="@style/SplashScreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="sk.ab.herbsplus.activities.ListPlantsPlusActivity"
            android:configChanges="orientation|screenSize|locale" />
        <activity
            android:name="sk.ab.herbsbase.activities.DisplayPlantActivity"
            android:configChanges="orientation|screenSize|locale" />
        <activity
            android:name="sk.ab.herbsbase.activities.UserPreferenceActivity"
            android:configChanges="orientation|screenSize|locale"
            android:label="@string/settings"
            android:theme="@style/Theme.Settings" >
        </activity>
        <activity
            android:name="sk.ab.herbsbase.activities.LegendActivity"
            android:configChanges="orientation|screenSize|locale"
            android:theme="@style/Theme.Settings" >
        </activity>
        <activity
            android:name="sk.ab.herbsbase.commons.HtmlActivity"
            android:configChanges="orientation|screenSize|locale"
            android:theme="@style/Theme.Settings" >
        </activity>
        <activity
            android:name="sk.ab.herbsbase.commons.FullScreenImageActivity"
            android:configChanges="orientation|screenSize" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>